
<!-- Header --> 

<body>
  <div class="trait-couleur"></div>
  <section class="block">
    <img src="../assets/ressources/banniere.png" alt="Girl in a jacket" class="bannière">
  </section>
  <div class="trait-couleur"></div>
  <section class="menu">
    <div class="liste1">
      <h2><a [routerLink]="['/Decks']">Decks</a></h2>
      <h2><a [routerLink]="['/Cartes']">Cartes</a></h2>
    </div>
    <div class="logo">
      <a [routerLink]="['/Accueil']"><img src="../assets/ressources/Accueil.png" alt="Girl in a jacket" class="Accueil"></a>
    </div>
    <div class="liste2">
      <h2><a [routerLink]="['/Formulaire']">Formulaire</a></h2>
      <h2><a [routerLink]="['/Vidéos']">Vidéos</a></h2>
    </div>
  </section>
  <div class="trait-couleur"></div>
  
</body>

  

