<body>
<footer class="bas">
        <section class="block">
          <div class="trait-couleur"></div>
          <p class="droit">&copy; 2023 - Mon site web. Tous droits réservés.</p>
          <div class="bas2">
            <a href="https://www.google.fr"><img src="../assets/ressources/instagram.png" alt="Girl in a jacket" class="logo2"></a>
            <a href="https://www.google.fr"><img src="../assets/ressources/snapchat.png" alt="Girl in a jacket" class="logo2"></a>
            <a href="https://www.google.fr"><img src="../assets/ressources/phone.png" alt="Girl in a jacket" class="logo2"></a>
            <a href="https://www.google.fr"><img src="../assets/ressources/twiter.png" alt="Girl in a jacket" class="logo2"></a>
            <a href="https://www.google.fr"><img src="../assets/ressources/facebook.png" alt="Girl in a jacket" class="logo2"></a>
            <a href="https://www.google.fr"><img src="../assets/ressources/mail.png" alt="Girl in a jacket" class="logo2"></a>
          </div>
        </section>
        <div class="trait-couleur"></div>
      </footer>
    </body>
