<body>
  <section class="container">
    <nav class="header">
      <h2>Administrateur Royale</h2>
      <div class="deconnexion">
        <img
          src="../assets/ressources/déconnexion.png"
          alt="Girl in a jacket"
          (click)="redirectToConnexion()"
        />
      </div>

      <img
        src="../assets/ressources/Chef.png"
        (click)="redirectToAccueil()"
        class="ChefLogo"
        alt=""
      />
    </nav>

    <section
      class="formsend"
      (mouseenter)="Insideformsend()"
      (mouseleave)="Outsideformsend()"
    >
      <h1 class="title">Carte</h1>
      <div class="input">
        <input
          [(ngModel)]="viewCarte.name"
          id="nameInput"
          class="Name"
          type="text"
          placeholder="Nom"
          aria-label="Name"
        />

        <select
          placeholder="Charlotte"
          class="menu"
          [(ngModel)]="viewCarte.type"
        >
          <option value="" selected disabled>Type</option>
          <option value="sort" class="type1" minlength="2">Sort</option>
          <option value="combatant" class="type2" minlength="2">
            Combatant
          </option>
          <option value="batiment" class="type3" minlength="2">Bâtiment</option>
        </select>

        <select
          placeholder="Charlotte"
          class="menu"
          [(ngModel)]="viewCarte.rarete"
        >
          <option value="" selected disabled>Rareté</option>
          <option value="champion" class="custom-option1" minlength="2">
            Champion
          </option>
          <option value="légendaire" class="custom-option2" minlength="2">
            Légendaire
          </option>
          <option value="épique" class="custom-option3" minlength="2">
            Épique
          </option>
          <option value="rare" class="custom-option4" minlength="2">
            Rare
          </option>
          <option value="commune" class="custom-option5" minlength="2">
            Commune
          </option>
          <option value="avec évolutions" class="custom-option6" minlength="2">
            Avec Évolutions
          </option>
        </select>

        <input
          [(ngModel)]="viewCarte.elixir"
          id="elixirInput"
          class="Elixir"
          type="number"
          min="0"
          max="9"
          placeholder="Elixir"
          aria-label="Elixir"
        />

        <label for="fileInput" class="custom-file-upload">
          <span>Sélectionner une image</span>
        </label>
        <input
          id="fileInput"
          type="file"
          accept="image/*"
          (change)="imageSelected($event)"
        />

        <textarea
          class="textarea"
          [(ngModel)]="viewCarte.description"
          id="description"
          rows="4"
          cols="50"
          placeholder="Entrez votre description ici..."
        ></textarea>
        <div class="BcoteAcote">
          <img
            *ngIf="showButton"
            src="../assets/ressources/ajouter.png"
            alt="bouton ajouter"
            class="boutonajouter"
            (click)="pushCard()"
          />
          <img
            *ngIf="showButton"
            src="../assets/ressources/rechercher.png"
            alt="bouton rechercher"
            class="boutonrechercher"
            (click)="searchCard()"
          />
          <img
            *ngIf="showButton"
            src="../assets/ressources/modifier.png"
            alt="bouton modifier"
            class="boutonmodifier"
            (click)="updateCard()"
          />
          <img
            *ngIf="showButton"
            src="../assets/ressources/supprimer.png"
            alt="bouton supprimer"
            class="boutonsupprimer"
            (click)="deleteCard()"
          />
        </div>
      </div>
    </section>
    <section>
      <section>
        <section class="previewPersonnage">
          <div class="preview" *ngIf="createdCard !== undefined">
            <div>
              <h1 class="title2">{{ createdCard.name }}</h1>
            </div>
            <img src="{{ createdCard.image }}" class="imgPerso" alt="" />

            <div class="description">
              <p>{{ createdCard.description }}</p>
            </div>
            <div class="container3">
              <p class="type">{{ createdCard.type }}</p>
              <p class="rarete">{{ createdCard.rarete }}</p>
            </div>
          </div>
          <div *ngIf="!createdCard">
            <h1 class="title">Fabrique à carte</h1>
            <img
              src="../assets/ressources/pas2carte.png"
              class="pas2carte"
              alt="Personnage"
            />
          </div>
        </section>
      </section>
    </section>
  </section>
</body>
