<body>
  <!-- <img
    src="../assets/ressources/fond.png"
    alt="Girl in a jacket"
    class="bannière"
  /> -->
  <section class="container">
    <div class="intérieur">
    <h1 class="title">Bienvenue à toi</h1>
    <div class="input">
      <input
        [(ngModel)]="user.pseudonyme"
        class="utilisateur"
        type="text"
        placeholder="Utilisateur"
        aria-label="Username"
      />

      <input
        [(ngModel)]="user.password"
        type="password"
        class="password"
        placeholder="**************"
        aria-label="Passsword"
      />

      <div class="deconnexion">   <img
        src="../assets/ressources/Connexion.png"
        alt="Girl in a jacket"
        (click)="login()"
        
      /></div>

      <ul>
        <li class="Rachid">Mots de passe oublié</li>
       
        <a href="/inscription" class="Rachid">Inscription</a>

      </ul>

    </div>
      <img src="../assets/ressources/login.png" class="RoiChevalier"alt="" />
    </div>
  </section>
</body>
