<body>
    <section class="container">
        <nav class="header">
          <h2>Espace Royale</h2>
          <div class="deconnexion">   <img
            src="../assets/ressources/déconnexion.png"
            alt="Girl in a jacket"
            (click)="redirectToConnexion()"
            
            
          /></div>
          <img src="../assets/ressources/casque.png" (click)="redirectToAccueil()" class="ChefLogo" alt="" />
        </nav>
    </section>
    <section>
    <div class="container1">

      <div class="content">
       
      </div>
  
    </div>
  </section>
</body>
