* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "MaPoliceTTF";
    src: url("/assets/ressources/clash.ttf") format("truetype");
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #4e8cd2;
    height: 100px;
    border-bottom: 5px solid #EC4B40;
   
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/ressources/Chevalier2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden
  }

  h2 {
    font-family: MaPoliceTTF;
    color: #f3b95b;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }

  .deconnexion{
    position: relative;
    left: 550px;
    top:18px;
  }
  
  .ChefLogo{
    margin-right: 20px;
  }

  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .content {
    width: 600px;
    height: 600px;
    background-image: url('../../assets/ressources/Picture2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 560px;
  }
  