body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/ressources/fond.png");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
}

@font-face {
  font-family: "MaPoliceTTF";
  src: url("/assets/ressources/clash.ttf") format("truetype");
}

.carte-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 170px;
  margin-top: 70px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: MaPoliceTTF;
  color: whitesmoke;
  font-size: 15px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px #000;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: MaPoliceTTF;
  color: #f3b95b;
  font-size: 15px;
  align-items: center;
  text-shadow: 2px 2px 5px #000;
}

img {
  width: auto;
  height: 300px;
}
